@font-face {
    font-family: AvenirLTStd-Medium;
    src: url("https://cdn.protograph.pykih.com/lib/AvenirLTStd-Medium.otf") format("opentype");
}

body {
    min-width: initial !important;
}

a {
    background: 0 0;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.protograph-card {
    position: relative;
    overflow: hidden;
    letter-spacing: normal;
    box-sizing: border-box;
}

.protograph-col4-mode {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.protograph-col7-mode {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.dte-case-card {
    width: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 16px;
    font-family: "AvenirLTStd-Medium";
    height: 580px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.dte-case-card .card-date {
    font-family: "AvenirLTStd-Medium";
    text-align: center;
    font-size: 11px;
    color: #333333;
    width: 86px;
    border-radius: 4px;
    border: solid 1px rgba(50, 50, 50, 0.5);
    display: inline-block;
}

.dte-case-card .card-header .card-status {
    margin: 2px;
    float: right;
}

.dte-case-card .card-content-div .card-status {
    margin: 2px 10px 2px 2px;
    float: left;
}

.dte-case-card .card-status-button {
    border-radius: 7px;
    height: 14px;
    width: 14px;
  }

.dte-case-card .card-status .proto-card-status-cancelled {
    background-color: red;
}
.dte-case-card .card-status .proto-card-status-ongoing {
    background-color: orange;
}
.dte-case-card .card-status .proto-card-status-done {
    background-color: limegreen;
}
.dte-case-card .card-status .proto-card-status-none {
    background-color: black;
}

.dte-case-card .card-title {
    margin-top: 10px;
    opacity: 0.4;
    font-size: 14px;
    color: #333333;
    font-family: "AvenirLTStd-Medium";
    line-height: 22px;
}

.dte-case-card .card-tabs {
    margin-top: 16px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 16px;
    overflow: hidden;
}

.dte-case-card .card-tabs .single-tab {
    font-size: 12px;
    color: #9a9a9a;
    text-transform: uppercase;
    width: 110px;
    border-bottom: 2px solid white;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
}

.dte-case-card .single-tab.active {
    border-bottom: 2px solid #f7230f;
    color: #f7230f;
}

.card-content {
    height: 360px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

 .dte-case-card .divider {
    width: 100%;
    margin: 12px auto;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;

}

.dte-case-card .card-content-div {
    position: relative;
    height: 100%;
}

.card-content::-webkit-scrollbar {
    width: 0 !important
}

.dte-case-card p {
    font-size: 14px;
    color: #525252;
    margin: 0px;
    padding: 0px;
    line-height: 21px;
    /* margin-bottom: 8px; */
}

.dte-case-card div .parameter-label {
    font-size: 10px;
    text-transform: uppercase;
    color: #9a9a9a;
    margin-bottom: 2px;
}

.dte-case-card .parameter-small-label {
    font-size: 10px;
    text-transform: capitalize;
    color: #7a7a7a;
    margin-bottom: 4px;
}

.protograph-col7-mode .dte-case-card .vertical-divider {
    border-left: 1px solid #dddddd;
    padding-left: 16px;
}

.dte-case-card .card-footer {
    width: 100%;
    height: 45px;
    /* border-top: 1px solid #dddddd; */
    background-color: #fafafa;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 4px 16px;
    box-sizing: border-box;
}

.dte-case-card .card-footer img {
    height: 15px;
    margin-top: 10px;
}

.protograph-col7-mode  .dte-case-card .half-width-parameter {
    vertical-align: top;
    width: 48%;
    display: inline-block;
    overflow: hidden;
}

.dte-case-card .single-parameter {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.protograph-col7-mode  .dte-case-card .content-footer {
    
    margin-bottom: 20px;
}

.dte-case-card a {
    color: #0F62C4 !important;
    font-size: 14px;
}

a:active {
    color: yelow;
}

.dte-case-card-mobile .tabContent .card-tabs-mobile .single-tab-mobile {
    width: 65px;
    font-size: 10px;
}

.tabContent {
    height: 340px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.tabContent::-webkit-scrollbar {
    width: 0 !important
}

.dte-case-card-mobile p {
    font-size: 12px;
    color: #525252;
    margin: 0px;
    padding: 0px;
}


/* Note the above height and width are just samples. Change it as per the usecase. */